body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(11, 12, 11);
  background-size: inherit;
}

.nav {
  background-color: #309c3f;
}


.nav li a:hover {
  color: black;
  }

  
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  color: #080101;
}

li a {
  color: black;
  font-size: larger;
}

:root {
  --primary-color: #39b54a;
  --primary-color-hover: #309c3f;
}

.dropdown-content {
  color: #309c3f;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #080101!important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #080101;
  color: #080101 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #080101!important;
}

button[type=submit] {
  background-color: #309c3f;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

a {
  
  color:#309c3f;
}

img{
  background-image: url(./sfc.jpeg.png);
  size: 0px;
}

.logo {
  text-align: center;
}

.nav li a{
  color: rgb(240, 233, 233);
}

.table {
  border-collapse: collapse;
  width: 50%;
}

th {
  height: 70px;
}

.message {
color: rgb(240, 34, 34);
}
