body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(11, 12, 11);
    background-color: rgb(248, 250, 249);
    background-size: inherit;
}


.nav{
    background-color: #309c3f;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #080101;
}

li a {
    color: #080101;
}

:root {
    --primary-color: #39b54a;
    --primary-color-hover: #309c3f;
}

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #080101;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  button:hover {
    background-color: #45a049;
  }