{{#partial "content"}}
    <h1>{{department.name}}</h1>
    <p>List of all DIT staff in this Department</p>
    <ul>
        {{#each staff}}
            <li><p><a href="/departments/{{department.id}}/staff/{{id}}">{{description}}</a> </p></li>
        {{/each}}
    </ul>
{{/partial}}